<?xml version="1.0"?>
<configuration>
  <property>
    <name>fs.defaultFS</name>
    <value>hdfs://{{ hostvars[groups['hdfs_namenode'][0]].ansible_host }}:{{ hdfs_namenode_port }}</value>
  </property>
  <property>
    <name>hadoop.tmp.dir</name>
    <value>{{ hdfs_data_dir }}/tmp</value>
  </property>
</configuration>
