export JAVA_HOME={{ hdfs_java_home }}
export HADOOP_HOME={{ hdfs_home }}
export HADOOP_CONF_DIR={{ hdfs_home }}/etc/hadoop
export HDFS_NAMENODE_USER={{ hdfs_user }}
export HDFS_DATANODE_USER={{ hdfs_user }}
export PATH=$PATH:{{ hdfs_home }}/bin
